<div *ngIf="jsonContextLoaded" class="container-fluid" style="overflow: hidden">
  <div style="position: absolute; right: 0vw; top: -2%; width: 20vw; height: 99vh; max-height: 100vh;">
    <div id="menuContainer" class="" style="overflow-x: hidden; width: 100%">
      <app-map-panel-switcher [userContext]="userContext"></app-map-panel-switcher>
    </div>
  </div>
  <div class="row">
    <div id="mainmap">
      <app-map *ngIf="userContext" [userContext]="userContext"></app-map>
      <app-header></app-header>
      <app-permalink></app-permalink>
    </div>
  </div>
</div>