<div class="card-header p-2 text-center" role="tab" id="headingLegende">
  <div data-toggle="collapse" href="#collapseLegend" aria-expanded="true" aria-controls="collapseLegend">
    <b>Légende</b>
  </div>
</div>

<div id="collapseLegend" class="collapse show" role="tabpanel" aria-labelledby="headingLegend">
  <div id="legendContainer" style="width:100%;height:auto;">
    <div *ngIf="legendUrls" id="legend" class="legend">
      <ng-container *ngFor="let legendUrl of legendUrls; let i = index">
        <div *ngIf="legendSubTitles">{{legendSubTitles[i]}}</div>
            <img  src="{{legendUrls[i]}}" class="img-fluid" />
      </ng-container>
    </div>
  </div>
</div>