<div *ngIf="jsonContextLoaded" class="container-fluid" style="overflow: hidden">
    <!-- <div style="position: absolute; max-height: 100vh;"> -->
        <div class="panel-config">
        <app-changes-config-panel [changeTypesList]="changeTypesList"></app-changes-config-panel>
        </div>
    <!-- </div> -->
    <div *ngIf="userContext!=null" class="row">
        <div class="map">
            <app-changes-map [userContext]="userContext"></app-changes-map>
            <app-header></app-header>
        </div>
    </div>
</div>