.panel-config{
        position: absolute;
        top: 15%;
        z-index: 2;
        left: 0px;
        width: 20%;
        min-width: 290px;
        overflow: hidden;
        overflow-y: hidden;
        scroll-behavior: unset;
        position: absolute;
}

app-permalink {
    position: absolute;
    top: 12px;
    left: 350px;
}  