#panel-config{
        position: absolute;
        top: 120px;
        z-index: 2;
        left: 0px;
        width: 20%;
        min-width: 200px;
        /* overflow: hidden;
        overflow-y: hidden; */
}

@media (max-width:800px){
    #panel-config{
        position: absolute;
        top: 50px;
    }
}

app-permalink {
    position: absolute;
    top: 12px;
    left: 350px;
}  

#report-bug {
    position: absolute;
    top: 12px;
    left: 360px;
  } 