

app-alert{
    position:absolute;
    top:400px;
    left:480px;
}

#menuContainer {
    position: absolute;
    top: 2%;
    z-index: 2;
    right: 0px;
    width: 200px;
    overflow: hidden;
    overflow-y: hidden;
    scroll-behavior: unset;
    position: absolute;
  }

app-permalink {
    position: absolute;
    top: 12px;
    left: 525px;
}  

#report-bug {
  position: absolute;
  top: 12px;
  left: 350px;
} 
:host > div > div > div > span > a {
  color: #548ECC;
}