<!-- Modal ajout de couche -->
<div class="modal fade modal-lg" id="layerAttributeTableModal" #layerAttributeTableModal tabindex="-1" 
  role="dialog" data-backdrop="false" data-keyboard="false"
  [draggable] dragHandle=".layerAttributeTableHeader" dragTarget="#layerAttributeTableModal"
    aria-labelledby="layerAttributeTableModalLabel" aria-hidden="true" >

  <div class="modal-dialog  modal-lg" id="layerAttributeTableModalDialog" role="document">
    <div class="modal-content">

      <div class="modal-header layerAttributeTableHeader">
        <h5 class="modal-title" id="layerAttributeTableModalLabel">
            <label *ngIf="currentLayer">{{currentLayer.nom_court}}</label> 
        </h5>
        <!-- <button class="reloadButton" > -->
          <img class="reloadImage" src="./assets/images/reload.png" title="Recharger les valeurs valeurs"  (click)="setLayer(null)"/>
        <!-- </button> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <!-- Data table -->
                <div class="containerTable" *ngIf="!loadingWFS && layerAttributeKeyTable.length != 0; else noDataBlock">                   
                <table class="attribute-table" id="layerAttributeTable" >
                  <thead>
                    <tr>
                      <th></th>
                      <ng-container *ngFor="let layerAttributeKey of layerAttributeKeyTable"> 
                        <th *ngIf="layerAttributeKey!='bbox' && layerAttributeKey!='osm_original_geom'" class="attribute">{{layerAttributeKey}} 
                          <i [class]="paginationService.getSort()[layerAttributeKey]==-1? 'fa fa-sort-desc': paginationService.getSort()[layerAttributeKey]==0? 'fa fa-sort' : 'fa fa-sort-asc'" aria-hidden="true" (click)="sort(layerAttributeKey)"></i>
                        </th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody id="layerAttributeTableBody">
                    <tr id="bodyTable" *ngFor="let layerAttributeValue of layerAttributeValuesTable; let layerAttributeIndex = index" >
                      <ng-container *ngFor="let layerAttributeKey of layerAttributeKeyTable; let layerAttributeKeyIndex = index">
                        <td class="action" *ngIf="layerAttributeKeyIndex==0"  >
                          <button class="centerButtonTable" (click)="centerGeom($event, layerAttributeValue.properties['bbox'])">
                            <img id="centerMap" class="centerButton" src="./assets/images/localisation.svg" title="Centrer sur la carte" />
                          </button>
                        </td>
                        <td *ngIf="layerAttributeKey!='bbox' && layerAttributeKey!='osm_original_geom'">
                          {{ layerAttributeValue.properties[layerAttributeKey] }}
                        </td>
                      </ng-container>                      
                    </tr>
                  </tbody>
                </table>  
              </div>   
              <ng-template #noDataBlock>
                Pas de données
              </ng-template>
              <div id="loadingWFS" *ngIf="loadingWFS">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer"> 
        <nav aria-label="Navigation">
          <div class="pull-left">
            <ul class="pagination">
              <li class="page-item pageSize disabled">
                <label for="pet-select">Nombre d'élément par page</label>
                <select #pageSize (change)="onChangePageSize()">
                  <option *ngFor="let pageSize of paginationService.getPageSizeArray()" value={{pageSize}}>{{pageSize}}</option>
                </select>
              </li>
            <li class="page-item disabled">
              <label for="pet-select">Aller à la page : </label>
              <input #pageSizeInput type="text" (keydown)="handlePageSizeInputKeyDown($event)">
            </li>  
            <li class="page-item" >
              <label #rangePage for="rangePage" class="rangePage"></label>
            </li> 
          </ul>
        </div>
        <div class="pull-right">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" #previousPage href="#" tabindex="-1" aria-disabled="true" disabled (click)="onChangePreviousPage()">Page précédente</a>
            </li>
            <li class="page-item disabled" ><a class="page-link active" #pageItem1 (click)="onChangePageIndex($event)" href="#">1</a></li>
            <li class="page-item disabled"><a class="page-link" #pageItem2 (click)="onChangePageIndex($event)" href="#">2</a></li>
            <li class="page-item disabled"><a class="page-link" #pageItem3 (click)="onChangePageIndex($event)" href="#">3</a></li>
            <ng-container *ngIf="paginationService.getLastPageIndex()>4 && paginationService.getPageIndex() < paginationService.getLastPageIndex()-3">
              <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            </ng-container><ng-container *ngIf="paginationService.getLastPageIndex()>=4 && paginationService.getPageIndex() < paginationService.getLastPageIndex()-3">

              <li class="page-item"><a class="page-link" #pageLastItem (click)="onChangeLastPage()" href="#">{{paginationService.getLastPageIndex()}}</a></li>
            </ng-container>
            <li class="page-item disabled">
              <a class="page-link" #nextPage href="#" (click)="onChangeNextPage()" >Page suivante</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>