<div class="card row active" id="featurepanel-wrapper">
    <div class="featurepanel-nav">
      <!-- closure of the pannel -->
      <a id="featurepanel-close" href="#" class="btn btn-outline-secondary btn-sm toggle">
          <b class="glyphicon glyphicon-remove">X</b>
      </a>
      <!-- Title -->
      <div class="card-header p-2 text-center" role="tab" id="headingFeaturePanel" style="word-wrap: break-word;">
          <b> Informations sur l'objet</b>
      </div>
  
      <div id="featureContainer">
        <div id="top_infos">
          <!-- Show if exists the others features nearby-->
          <div *ngIf="selectedFeatures.length>1">
            <div id="features_nearby_list" class="dropdown">
              <button class="btn btn-secondary btn-lg btn-block btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
              (click)="dropdownMenuSelected()" style="font-size:0.8em;">
                <a>{{selectedFeatures.length-1}} élément(s) à proximité</a> <!-- -1 because the selectedFeature is in the selectedFeatureS -->
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <span *ngIf="mapService.getNumberOfVisibleLayers()>1;else onlyOneLayer;">
                  <span *ngFor="let nearbyFeaturesLayer of nearbyFeatures.list">
                    <a class="dropdown-header mb-2 bg-secondary text-white">{{nearbyFeaturesLayer.layer.nom_court}}</a> <!-- Display the name of the layer -->
                    <span *ngFor="let feature of nearbyFeaturesLayer.featuresList">
                      <a *ngIf="feature != selectedFeature" class="dropdown-item" (click)="onSelect(feature)">{{getLabelToDisplay(feature,nearbyFeaturesLayer.layer)}}</a>
                    </span>
                  </span> 
                </span>
                <ng-template #onlyOneLayer>
                  <span *ngFor="let feature of selectedFeatures">
                      <a *ngIf="feature != selectedFeature" class="dropdown-item" (click)="onSelect(feature)">{{getLabelToDisplay(feature,selectedLayer)}}</a>
                  </span>
                </ng-template>
              </div>
            </div>
          </div>
  
          <!-- Short_name of the selected Layer at the top of the feature panel -->
          <div id=selectedLayer>
              <span class="badge badge-secondary" title="Couche de l'objet">{{selectedLayer.nom_court}}</span>
          </div>

          <!-- Info table with general informations about the selected feature -->
            <app-feature-main-info #featureMainInfoComponent
                [keys]="keys"
                [selectedLayer]="selectedLayer"
                [selectedFeature]="selectedFeature"
                [osm_type]="osm_type"
            ></app-feature-main-info>
          </div>
  
        <!--<https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll/16671476#16671476-->
  
        <!-- Accordion with the 2 tables -->
        <div class="list-group" id="panel_accordion" aria-multiselectable="true">
          <div class="card">
              <div class="card-header">
                <h6 class="mb-0">
                  <a id="OSMAttribute" class="categorie-title" data-toggle="collapse" data-parent="panel_accordion" href="#collapseAttributeTable" title="Tableau des attributs (couples clef/valeur) d'OpenStreetMap" 
                  (click)="tableSelected('AttributeTable')">
                    Attributs OpenStreetMap
                  </a>
                </h6>
              </div>
              <div id="collapseAttributeTable" class="card-collapse collapse in">
                <!-- First table with the OSM's attributes--> 
                <table class="card-body table table-bordered">
                  <thead>
                    <tr>
                      <th class="row1">clef</th>
                      <th class="row2">valeur</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let k of keys">
                      <tr>
                        <td>
                          <div class="flex">
                          <div class="text">
                            <a>{{formatKey(k)}}</a>
                          </div>
                          <div class="logo">
                              <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Key:{{formatKey(k)}}" title="Rechercher {{formatKey(k)}} sur le Wiki d'OpenStreetMap">Wiki OSM</a>
                              <a target="_blank" href="https://taginfo.openstreetmap.fr/keys/{{formatKey(k)}}#overview"title="Rechercher {{formatKey(k)}} sur TagInfo"><img src="assets/images/taginfo_30_11px.png"></a>
                              <a target="_blank" href="http://overpass-turbo.eu/?key={{formatKey(k)}}&template=key" title="Requête sur {{formatKey(k)}} avec Overpass Turbo"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAABJklEQVQoz13RP0oDYRCH4UcShdRbWWjSWWgOEEFLSWNj5SG2DHxa5RBaWOQM5gASraKdILugblaTEAvBP6BC0M4iWxhnuoHfDPO+QElkU3Dhy5ueYFOkpKiymlhfZiCXyWT6YjXlWbqmLZHratm1q6Url2irKRGJpRJBXaSiIlIXJBKxiIZLE4eqs4XF0aoDD/oaHHgytG/VkoWil6zac+VR4Nynb4lj29atWbNu27Ebnz6c82pq7N7YnWtdXdfuisnUKy+GYk0dqYkTJyZSHU2xoRd6Mi3LVuw4MzJyZseKZS2ZHkHmVF1ZRdPAQFNFWd2pTKChLxdULdqQSm1YVBXkszcjsaQAteXWra15UH9RH3n27Gge9V9ZYz++jeZl/df9Pq/7F7ojeX4atkuXAAAAAElFTkSuQmCC"></a> 
                          </div>
                          </div>
                        </td>
                        <td>
                          <div class="flex">
                            <div class="text">
                              <a>{{selectedFeature.get(k)}}</a>
                            </div>
                            <div class="logo">
                              <span *ngIf="selectedFeature.get(k) != undefined && !(isValueIrrelevant(k))"> <!-- If the value is NonGeneric, we don't display the logos -->
                                <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Tag:{{formatKey(k)}}%3D{{selectedFeature.get(k)}}" title="Rechercher {{formatKey(k)}}:{{selectedFeature.get(k)}} sur le Wiki d'OpenstreetMap">Wiki OSM</a>
                                <a target="_blank" href="https://taginfo.openstreetmap.fr/tags/{{formatKey(k)}}={{selectedFeature.get(k)}}#overview" title="Rechercher {{formatKey(k)}}:{{selectedFeature.get(k)}} sur TagInfo"><img src="assets/images/taginfo_30_11px.png"></a>
                                <a target="_blank" href="http://overpass-turbo.eu/?key={{formatKey(k)}}&value={{selectedFeature.get(k)}}&template=key-value" title="Requête sur {{formatKey(k)}}:{{selectedFeature.get(k)}} avec Overpass Turbo"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAABJklEQVQoz13RP0oDYRCH4UcShdRbWWjSWWgOEEFLSWNj5SG2DHxa5RBaWOQM5gASraKdILugblaTEAvBP6BC0M4iWxhnuoHfDPO+QElkU3Dhy5ueYFOkpKiymlhfZiCXyWT6YjXlWbqmLZHratm1q6Url2irKRGJpRJBXaSiIlIXJBKxiIZLE4eqs4XF0aoDD/oaHHgytG/VkoWil6zac+VR4Nynb4lj29atWbNu27Ebnz6c82pq7N7YnWtdXdfuisnUKy+GYk0dqYkTJyZSHU2xoRd6Mi3LVuw4MzJyZseKZS2ZHkHmVF1ZRdPAQFNFWd2pTKChLxdULdqQSm1YVBXkszcjsaQAteXWra15UH9RH3n27Gge9V9ZYz++jeZl/df9Pq/7F7ojeX4atkuXAAAAAElFTkSuQmCC"></a>
                              </span>
                            </div>
                          </div>
                          <span *ngIf="selectedFeature.get(k) == undefined">n/a</span>
                        </td>
                      </tr>
                    </ng-container>  
                  </tbody>
                </table>
              </div>
          </div>
          <div class="card">
              <div class="card-header">
                  <h6 class="mb-0">
                    <a class="categorie-title" data-toggle="collapse" data-parent="panel_accordion" href="#collapseMetadataTable" title="Tableau des méta-données" (click)="tableSelected('MetadataTable')">
                      Méta-données
                    </a>
                  </h6>
              </div>
              <div id="collapseMetadataTable" class="card-collapse collapse">
                <!-- Second table with the technical keys -->
                    <table class="card-body table table-bordered">
                        <thead>
                          <tr>
                            <th class="row1">clef</th>
                            <th>valeur</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let k of technical_keys">
                            <tr>
                              <td>{{k}}</td>
                              <td>
                                <span [ngSwitch]="k">
                                  <span *ngSwitchCase="'osm_id'">
                                    <span *ngIf="selectedFeature.get(k)>0; else negative">
                                        <a>{{selectedFeature.get(k)}}</a>
                                    </span>
                                    <ng-template #negative>
                                        <a>{{selectedFeature.get(k)*-1}}</a>
                                    </ng-template>
                                  </span>
                                  <span *ngSwitchCase="'osm_type'">
                                      <a>{{osm_type}}</a>
                                  </span>
                                  <!-- Those both elements are not in technical_keys (because of the JS code), but we can't find them in the initial list of keys.
                                  <span *ngSwitchCase="'osm_user'">
                                      <a target="_blank" href="http://www.openstreetmap.org/user/{{selectedFeature.get(k)}}">{{selectedFeature.get(k)}}</a>
                                  </span>
                                  <span *ngSwitchCase="'osm_changeset'">
                                      <a target="_blank" href="http://www.openstreetmap.org/changeset/{{selectedFeature.get(k)}}">{{selectedFeature.get(k)}}</a>
                                  </span>
                                  -->
                                  <span *ngSwitchDefault>
                                    <span *ngIf="selectedFeature.get(k) != undefined; else undefined">{{selectedFeature.get(k)}}</span>
                                    <ng-template #undefined>
                                      <span>n/a</span>
                                    </ng-template>
                                  </span>
                                </span>
                            </td>
                          </tr>
                        </ng-container>
                        <!-- Historic of the object -->
                          <tr id=historique>
                            <td colspan="2">
                                <span *ngIf="selectedFeature.get('osm_id')>0; else negative2">
                                  <a target="_blank" href="http://osmlab.github.io/osm-deep-history/#/{{osm_type}}/{{selectedFeature.get('osm_id')}}" title="Voir les modifications de l'objet dans la base OSM au fil du temps">Historique de l'objet OSM</a>
                                </span>
                                <ng-template #negative2>
                                    <a target="_blank" href="http://osmlab.github.io/osm-deep-history/#/{{osm_type}}/{{selectedFeature.get('osm_id')*-1}}" title="Voir les modifications de l'objet dans la base OSM au fil du temps">Historique de l'objet OSM</a>
                                </ng-template>  
                            </td>
                          </tr>
                      </tbody>
                    </table>

              
            </div>
        </div>
      </div>
    </div>
  </div>
</div>