<ul id="layerbar-nav" class="layerbar-nav">
  <li class="card-header p-2 text-center"><h3>Paramètres de la carte</h3></li>
  <span id="layer-selector" >
  <li class="card-header p-2"><h4>Fond cartographique</h4></li>
  <li>
      <select id="baseLayerCombo" (change)="changeBaseLayer($event.target.value)">
        <option value="OSM">OpenStreetMap Carto</option>
        <option value="world">world</option>
      </select>
  </li>
  </span>  
  <li id="input-range-height-ref" class="card-header p-2"><h4>Transparence</h4></li>
  <li id="input-range">
      <input class="input-range" #ref type="range" min="0" max="100" step="2.5" value="{{baseLayerOpacityRange}}" (change)="changeOpacity(ref.value)"
      />
  </li>
</ul>
