.map {
	height: 100vh;
	width: 100vw;
}

#mouse-position, #layername, #layerswitcher {
	padding: 1px 5px;
	border-radius: 3px;
	display: inline-block;
	color: #444;
	background: rgba(255, 255, 255, 0.6);
}

#mouse-position{
	position:relative;
	left: 150px;
	bottom: 35px;
	font-size: 0.7em;
}

#layerswitcher {
	position:absolute;
	right:5px;
	top:5px;
	line-height:1.2;
}

b.cercle {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px auto;
  border-radius: 50%;
}

app-apiadresse{
	position:absolute;
	top:10px;
	left:160px;
}

app-change-details{
	position:absolute;
	right:10px;
	bottom:300px;
	width:100px;
	height:100px;
}
